<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moodlight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodLight">

        <activity android:name=".screen.main1.AnswerActivity" />
        <activity android:name=".screen.main1.CommunityActiviy"/>
        <activity android:name=".screen.main1.CommunityMainActivity"/>
        <activity android:name=".screen.main1.CommentActivity"/>

        <activity android:name=".screen.main3.setting.SettingActivity"></activity>

        <activity android:name=".mainstatics.MainStatisticsFragment"></activity>
        <activity android:name=".screen.main3.setting.SettingActivity" />


        <activity android:name=".screen.onboarding.OnboardingActivity"></activity>
        <activity android:name="com.example.moodlight.screen.mainstatics.MainStatisticsFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".screen.main3.setting.SettingActivity"></activity>

        <activity android:name=".screen.initial.InitialActivity" />
        <activity android:name=".screen.register.RegisterActivity" />
        <activity android:name=".screen.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.login.LoginActivity" />
        <activity android:name=".screen.MainActivity" />
    </application>

</manifest>