<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moodlight">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodLight">
        <activity
            android:name=".screen.main3.qna.HelpAcitvity"
            android:exported="false" />
        <activity android:name=".screen.main1.CommunityActivity" />
        <activity android:name=".screen.main1.PickMoodActivity" />
        <activity android:name=".screen.main1.CommentActivity" />
        <activity
            android:name=".dialog.TerminationDialog"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".dialog.LoadingDialog"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".screen.findpassword.FindPasswordActivity"
            android:exported="true" />
        <activity android:name=".screen.main3.setting.SettingActivity" />
        <activity android:name=".screen.main1.AnswerActivity" />
        <activity
            android:name=".screen.main2.DetailAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".screen.main3.setting.ChangePasswordActivity"
            android:exported="false" />
        <activity android:name=".screen.onboarding.OnboardingActivity" />
        <activity
            android:name=".screen.mainstatics.MainStatisticsFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".screen.initial.InitialActivity" />
        <activity android:name=".screen.register.RegisterActivity" />
        <activity
            android:name=".screen.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.login.LoginActivity" />
        <activity android:name=".screen.MainActivity" />
    </application>

</manifest>